<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                        <button pButton pRipple label="Excluir" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteSelectedTutors()"
                            [disabled]="!selectedTutors || !selectedTutors.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="tutors" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['nome', 'bairro', 'cidade', 'estado']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Exibindo {first} de {last} a {totalRecords} resultados"
                [(selection)]="selectedTutors" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Tutores - Configurações</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                        <!-- <th pSortableColumn="municipio">Cidade <p-sortIcon field="municipio"></p-sortIcon></th> -->
                        <th pSortableColumn="bairro">Bairro <p-sortIcon field="bairro"></p-sortIcon></th>
                        <!-- <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th> -->
                        <th pSortableColumn="telefone">Telefone <p-sortIcon field="telefone"></p-sortIcon></th>
                        <th pSortableColumn="cpf">CPF <p-sortIcon field="cpf"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tutor>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="tutor"></p-tableCheckbox>
                        </td>
                        <td><span class="p-column-title">Nome</span>{{tutor.nome}}</td>
                        <!-- <td><span class="p-column-title">Cidade</span>{{tutor.municipio}}</td> -->
                        <td><span class="p-column-title">Bairro</span>{{tutor.bairro}}</td>
                        <!-- <td><span class="p-column-title">Estado</span>{{tutor.estado}}</td> -->
                        <td><span class="p-column-title">Telefone</span>{{tutor.telefone}}</td>
                        <td><span class="p-column-title">CPF</span>{{tutor.cpf}}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2" (click)="editTutor(tutor)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteTutor(tutor)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="tutorDialog" [style]="{width: '450px'}" header="Detalhes Tutores" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="nome">Nome</label>
                    <input type="text" pInputText id="nome" [(ngModel)]="tutor.nome" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !tutor.nome}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !tutor.nome">Nome is required.</small>
                </div>
                <div class="field">
                    <label for="cep">CEP</label>
                    <input type="text" pInputText id="cep" [(ngModel)]="tutor.cep" required autofocus (blur)="getCep(tutor.cep)"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !tutor.cep}"  />
                </div>
                <div class="field">
                    <label for="ufs">Estados</label>
                    <p-dropdown (onChange)="getMunicipios(tutor.estado.id)" [options]="ufs" [(ngModel)]="tutor.estado" optionLabel="nome" placeholder="Selecione um estado" />
                </div>
                <div class="field">
                    <label for="municipios">Municipios</label>
                    <p-dropdown (onChange)="testeUF()" [options]="municipios" [(ngModel)]="tutor.municipio" optionLabel="nome" placeholder="Selecione um municipio" />
                </div>

                <div class="field">
                    <label for="bairro">Bairro</label>
                    <input type="text" pInputText id="bairro" [(ngModel)]="tutor.bairro" />
                </div>
                <div class="field">
                    <label for="logradouro">Logradouro</label>
                    <input type="text" pInputText id="logradouro" [(ngModel)]="tutor.logradouro" />
                </div>
                <div class="field">
                    <label for="numero">Número</label>
                    <input type="text" pInputText id="numero" [(ngModel)]="tutor.numero" />
                </div>
                <div class="field">
                    <label for="telefone">Telefone</label>
                    <p-inputMask id="telefone" [(ngModel)]="tutor.telefone" mask="(99)99999-9999" />
                </div>
                <div class="field">
                    <label for="sexo">Sexo</label>
                    <p-dropdown id="sexo" [(ngModel)]="tutor.sexo" [options]="statuses"
                        placeholder="Selecione o sexo"></p-dropdown>
                </div>
                <div class="field">
                    <label for="cpf">CPF</label>
                    <p-inputMask id="cpf" [(ngModel)]="tutor.cpf" mask="999.999.999-99" />
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text"
                    (click)="saveTutor()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteTutorDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="tutor">Você tem certa que deseja excluir <b>{{tutor.nome}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteTutorDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteTutorsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Você tem certeza que deseja detelar esses tutores?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteTutorsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
