<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Excluir" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedServices()" [disabled]="!selectedServices || !selectedServices.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="services" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['nome', 'descricao', 'preco', 'duracao']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Exibindo de {first} a {last} do total de {totalRecords} resultados" [(selection)]="selectedServices" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Serviços - Configurações</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar..." class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                        <th pSortableColumn="descricao">Descrição <p-sortIcon field="descricao"></p-sortIcon></th>
                        <th pSortableColumn="preco">Preço <p-sortIcon field="preco"></p-sortIcon></th>
                        <th pSortableColumn="duracao">Duração (minutos) <p-sortIcon field="duracao"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-service>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="service"></p-tableCheckbox>
                        </td>
                        <td><span class="p-column-title">Nome</span>{{service.nome}}</td>
                        <td><span class="p-column-title">Descrição</span>{{service.descricao}}</td>
                        <td><span class="p-column-title">Preço</span>{{service.preco | currency}}</td>
                        <td><span class="p-column-title">Duração</span>{{service.duracao}} minutos</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editService(service)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteService(service)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="serviceDialog" [style]="{width: '450px'}" header="Detalhes Serviços" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="nome">Nome</label>
                    <input type="text" pInputText id="nome" [(ngModel)]="service.nome" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !service.nome}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !service.nome">Nome is required.</small>
                </div>
                <div class="field">
                    <label for="descricao">Descrição</label>
                    <input type="text" pInputText id="descricao" [(ngModel)]="service.descricao" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !service.descricao}"/>
                </div>
                <div class="field">
                    <label for="preco">Preço</label>
                    <p-inputNumber id="preco" [(ngModel)]="service.preco"></p-inputNumber>
                </div>
                <div class="field">
                    <label for="duracao">Duração (minutos)</label>
                    <p-inputNumber id="duracao" [(ngModel)]="service.duracao"></p-inputNumber>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="saveService()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteServiceDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="service">Are you sure you want to delete <b>{{service.nome}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteServiceDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteServicesDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected services?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteServicesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
